@page
@using EcomProject.Models
@model EcomProject.Pages.Account.CheckoutModel
@{
    ViewBag.Email = TempData["Email"];
    ViewBag.ShipTotal = TempData["ShipTotal"];
    decimal sum = 0;
    decimal cartCount = 0;
    decimal totalPrice = 0;
    @foreach (var item in Model.CartItems)
    {
        totalPrice = item.Quantity * item.Product.Price;
        sum += totalPrice;
        cartCount += item.Quantity;
    }
    
}





<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/vendor/owl-slider.css" />
    <link rel="stylesheet" type="text/css" href="~/vendor/settings.css" />
    <link rel="shortcut icon" href="~/images/favicon.png" />
    <script type="text/javascript" src="~/js/jquery-1.11.1.min.js"></script>
    <title>Checkout</title>
</head>
<body>
    <div class="awe-page-loading">
        <div class="awe-loading-wrapper">
            <div class="awe-loading-icon">
                <img src="~/images/seattle.png" alt="images">
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>


    <!-- End pushmenu -->
    <div class="wrappage">
        <!-- <div id="rtl">RTL</div> -->
        <header id="header" class="header-v3">
            <!-- End topbar -->
            <div class="header-top">
                <div class="container">
                    <div class="box">
                        <p class="icon-menu-mobile"><i class="fa fa-bars"></i></p>
                        <div class="logo">
                            <a href="/store/shopcatalogue" title="The Seattle Pour">
                                <img src="~/images/seattle.png" alt="images">
                            </a>
                        </div>
                        <div class="logo-mobile"><a href="/Store/ShopCatalogue" title="SeattlePour"><img src="~/images/seattle.png" alt="SeattlePour-Logo"></a></div>


                        <nav class="mega-menu">
                            <!-- Brand and toggle get grouped for better mobile display -->
                        </nav>





                        <div class="box-right">
                            <div class="cart hover-menu">
                                <p class="icon-cart" title="Add to cart">
                                    <i class="icon"></i>
                                    <span class="cart-count">@cartCount</span>
                                </p>
                                <div class="cart-list list-menu">
                                    <ul class="list">
                                        @foreach (var item in Model.CartItems)
                                        {
                                            <li>
                                                <a href="/Products/Details/@item.Product.ID" title="" class="cart-product-image"><img src="@item.Product.Image" alt="Product"></a>
                                                <div class="text">
                                                    <p class="product-name">@item.Product.Name</p>
                                                    <p class="product-price"><span class="price">$@item.Product.Price</span></p>
                                                    <p class="qty">Quantity:@item.Quantity</p>
                                                </div>
                                            </li>

                                        }
                                    </ul>
                                    <p class="total"><span class="left">Total:</span> <span class="right">$@sum</span></p>
                                    <div class="bottom">
                                        <a class="link-v1 rt" href="/Store/Cart" title="checkout">View Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="settings hover-menu">
                                <a title="settings">
                                    <span class="icons-setting"></span>
                                </a>
                                <ul class="submenu list-menu align-left">
                                    <li>
                                        <div class="container-fluid">

                                            <ul class="infor">
                                                @if (ViewBag.Email == "carringtonbeard@live.com" || ViewBag.Email == "teddy.damian@yahoo.com" || ViewBag.Email == "amanda@codefellows.com" || ViewBag.Email == "rice.jonathanm@gmail.com")
                                                {
                                                    <li><span class="fa fa-user"></span><a title="My Account">Welcome Admin, @User.Claims.First(x => x.Type == "FullName").Value</a></li>
                                                    <li><span class="fa fa-heart"></span><a href="/Account/AdminDashboard" title="Admin">Admin Page</a></li>

                                                }
                                                else
                                                {
                                                    <li><span class="fa fa-user"></span><a title="My Account">Welcome @User.Claims.First(x => x.Type == "FullName").Value</a></li>

                                                }
                                                <li><span class="fa fa-check-circle"></span><a href="/Store/ShopCatalogue" title="Catalogue">Shop Catalogue</a></li>
                                                <li><span class="fa fa-check-circle"></span><a href="/Store/Cart" title="Checkout">Back to Cart</a></li>
                                                <li><span class="fa fa-check-circle"></span><a asp-page="/Account/Logout" title="Checkout">Logout</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>




                    </div>
                </div>
                <!-- End container -->
            </div>
            <!-- End header-top -->
        </header><!-- /header -->
        <div class="container">

            <div class="tp-banner">
                <div class="container">
                    <div class="banner-header banner-lbook3">
                        <img src="~/images/banner-seattle.jpg" alt="Banner-header" />
                    </div>
                </div>
            </div>


            <br /><br />

            <div class="cart-box-container check-out">
                <div class="container container-ver2">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="title-brand">BILLING & SHIPPING</h3>
                            <form class="form-horizontal" method="post">
                                <div class="form-group col-md-6">
                                    <label for="inputfname" class=" control-label">First Name <span class="color">*</span></label>
                                    <input type="text" name="FirstName" placeholder="Enter your first name" id="inputfname" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputlname" class=" control-label">Last Name <span class="color">*</span></label>
                                    <input type="text" name="LastName" placeholder="Enter your last name" id="inputlname" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="inputcountry" class=" control-label">Email <span class="color">*</span></label>
                                    <input type="text" name="Email" placeholder="Enter your Email" id="inputcountry" class="form-control space-20">
                                </div>
                                <div class="form-group">
                                    <label for="inputcountry" class=" control-label">Address <span class="color">*</span></label>
                                    <input type="text" name="Address" placeholder="Enter your Address" id="inputcountry" class="form-control space-20">
                                </div>
                                <div class="form-group">
                                    <label for="inputcountry" class=" control-label">City <span class="color">*</span></label>
                                    <input type="text" name="City" placeholder="Enter your City" id="inputcountry" class="form-control space-20">
                                </div>
                                <div>
                                    <div class="form-group col-md-6">
                                        <label for="inputfState" class=" control-label">STATE <span class="color">*</span></label>
                                        <input type="text" name="State" placeholder="Select your State" id="inputfState" class="form-control">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputpostcode" class=" control-label">ZIP <span class="color">*</span></label>
                                        <input type="text" name="Zip" placeholder="Enter your postcode..." id="inputpostcode" class="form-control">
                                    </div>
                                </div>
                                <button type="submit" class="link-v1 box lh-50 rt full">PLACE ORDER</button>

                            </form>
                            <br />
                            <br />


                        </div>
                        <!-- End col-md-8 -->
                        <div class="col-md-6 space-30">
                            <div class="box">
                                <h3 class="title-brand">YOUR ORDER</h3>
                                <div class="info-order">
                                    <div class="product-name">
                                        <ul>
                                            <li class="head">
                                                <span class="name">PRODUCTS NAME</span>
                                                <span class="qty">QTY</span>
                                                <span class="total">SUB TOTAL</span>
                                            </li>
                                            @foreach(var item in Model.CartItems)
                                            {
                                            <li>
                                                <span class="name">@item.Product.Name</span>
                                                <span class="qty">@item.Quantity</span>
                                                <span class="total">$@totalPrice</span>
                                            </li>

                                            }
               
                                        </ul>
                                    </div>
                                    <!-- End product-name -->
                                    <ul class="product-order">
                                        <li>
                                            <span class="left">CART SUBTOTAL</span>
                                            <span class="right">$@sum</span>
                                        </li>
                                        <li>
                                            <span class="left">SHIPPING & HANDLING</span>
                                            <span class="right">$32.00</span>
                                        </li>
                                        <li>
                                            <span class="left">ORDER TOTAL</span>
                                            <span class="right brand">$@ViewBag.ShipTotal</span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End info-order -->
                                <div class="payment-order box float-left">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                </div>
                <!-- End container -->
            </div>
            <!-- End cat-box-container -->
        </div>





    </div>
    <!-- End newsletter -->
    <footer id="footer" class="footer-v3 align-left">
        <div class="footer-inner">
            <div class="container container-ver2">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <a class="box space-30" title="Logo">
                            <img src="~/images/logowhite.png" alt="Logo">
                        </a>
                        <p class="box space-30">We are a team of creative talents, local family business, that works with epoxy pour skill and high quality materials.</p>
                        <ul class="info-footer">
                            <li><img src="~/images/footerv3-icon1.png" alt="images">123 King Street, Seattle, WA</li>
                            <li><img src="~/images/footerv3-icon2.png" alt="images">+206 206 2061</li>
                            <li><img src="~/images/footerv3-icon3.png" alt="images"><a href="mailto:theseattlepour.com" title="mail">theseattlepour@gmail.com</a></li>
                        </ul>

                    </div>
                    <div class="col-md-3 col-sm-4">
                        <h3 class="title-footer">OPENING TIME</h3>
                        <ul class="list-footer border">
                            <li>Monday - Friday : 8 AM - 6 PM</li>
                            <li>Saturday : 9 AM - 6 PM</li>
                            <li>Sunday : Close</li>
                            <li>We Work All The Holidays</li>
                        </ul>
                    </div>

                </div>
                <div class="box bottom">
                    <p class="float-left">Copyright &copy;2020 The Seattle Pour - All Rights Reserved.</p>
                    <a class="float-right" title="images"><img class="img-responsive" src="~/images/footer-pay.png" alt="images"></a>
                </div>
                <!-- End box -->
            </div>
            <!-- End container -->
        </div>
        <!-- End footer-inner -->
    </footer>

    <!-- End wrappage -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="~/js/engo-plugins.js"></script>
    <script type="text/javascript" src="~/js/store.js"></script>
</body>

</html>